body {
    background: rgb(133,255,24);
background: linear-gradient(90deg, rgba(133,255,24,1) 0%, rgba(0,151,255,1) 19%, rgba(255,0,9,1) 34%, rgba(209,4,246,1) 67%, rgba(254,251,19,1) 87%, rgba(0,212,255,1) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body h1 {
    font-size: 50px;
}

body h1,
body p,
body label {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #00FF00 50%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body>.container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 100%;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group input {
    border-radius: 100%;
    padding: 15px;
}